.projects {
  display: flex;
  justify-content: center;
  flex-direction: column;
  position: relative;
  margin-top: 100px;
  overflow-x: hidden;

  & .subtitulo {
    display: flex;
    justify-content: center;
    /* background: linear-gradient(90deg,#4a90e2,#4a9 60%);
    background-clip: text;
    color: transparent; */
    color: var(--cinza);
    font: 500 4rem var(--subtitulos);
    padding: 1rem;
  }

  & img {
    width: 30px;
  }

  & .prev {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 90px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: linear-gradient(90deg, #4a9, #4a90e2);
    z-index: 2000;
    cursor: pointer;
  }

  & .next {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: 90px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: linear-gradient(90deg, #4a90e2, #4a9);
    z-index: 2000;
    cursor: pointer;
  }

  & .image {
    display: flex;
    padding: 100px 150px;
    transition: transform 0.5s ease-in-out;

    & .projetos {
      display: flex;
      gap: 140px;
    }

    & .projeto1, & .projeto2, & .projeto3 {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;

      & .links {
        margin-top: 80px;
        padding: 20px;
        background: linear-gradient(210deg, #4a9, #4a90d2);
        border-radius: 20px;
        box-shadow: 0 2px 5px rgba(0, 0, 0, .6);
        transition: .4s;
        & a {
          color: aliceblue;
          padding: 20px;
          font-weight: bold;
          font-size: 24px;
        }
      }
      & .links:hover {
        rotate: 4deg;
        scale: 1.1;
      }

    }

    & iframe {
      filter: blur(10px);
      display: flex;
      width: 600px;
      height: 600px;
    }

    & iframe {
      display: flex;
      width: 1000px;
      height: 600px;
      border: 10px solid black;
      filter: blur(10px);
    }

    & .allProj.active iframe {
      filter: blur(0px);
      transition: .7s;
    }
  }

  & .div-btn {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;

    & .btn {
      background: linear-gradient(135deg, #4a9,#4a90e2 10%, #4a9);
      border: none;
      color: var(--branco);
      font-weight: bold;
      padding: 20px;
      border-radius: 20px;
      font-size: 24px;
      cursor: pointer;
      transition: .4s;
    }
    & .btn:hover {
      background: linear-gradient(135deg, #4a90e2,#4a9 10%, #4a90e2);
      scale: 1.1;
    }
  }

  & .remove {
    display: none;
  }
}

@media (max-width: 1000px) {
  .projects {
    & .projetos {
      & iframe {
        width: 700px;
        height: 450px;
      }
    }
  }
}

@media (max-width: 700px) {
  .projects {
    & .next{
      right: 10px;
    }
    & .prev {
      left: 10px;
    }
  }

}

@media (max-width: 500px) {
  .projects {
    margin-top: 50px;
    & .projetos {
      & iframe {
        width: 300px;
        height: 350px;
      }
      & .projeto1, & .projeto2, & .projeto3 {
        & .links {
          margin-top: 40px;
          padding: 20px 10px;
          & a {
            padding: 10px;
            font-size: 16px;
          }
        }
       }
    }
    & .subtitulo {
      font-size: 2.5rem;
    }
  }
}