@import url(header.css);
@import url(main-hero.css);
@import url(global.css);
@import url(about.css);
@import url(projects.css);
@import url(tecnology.css);

/* Define a classe .image */
.image {
  display: flex;
  transition: transform 0.5s ease-in-out;

  & .projetos {
    display: flex;
    gap: 140px;
  }

  & .projeto1, & .projeto2, & .projeto3 {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  & iframe {
    filter: blur(10px);
    display: flex;
    width: 600px;
    height: 600px;
  }

  /* A classe .active deve ser aplicada diretamente nas divs .allProj */
  & .allProj.active iframe {
    filter: blur(0px); /* Remover o blur da div específica */
  }
}

/* Estilos de .projects */
.projects {
  display: flex;
  justify-content: center;
  flex-direction: column;
  position: relative;

  & img {
    width: 30px;
  }

  & .prev {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 90px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: aqua;
    z-index: 2000;
    cursor: pointer;
  }

  & .next {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: 90px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: aqua;
    z-index: 2000;
    cursor: pointer;
  }

  & .image {
    display: flex;
    padding: 100px 150px;

    & iframe {
      width: 1000px;
      height: 600px;
      border: 10px solid black;
    }

    /* Classe active aplicada diretamente às divs .allProj */
    & .allProj.active iframe {
      filter: blur(0px);
    }
  }

  & .div-btn {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;

    & .btn {
      background-color: aqua;
      color: black;
      padding: 20px;
      font-size: 24px;
      cursor: pointer;
    }
  }

  & .remove {
    display: none;
  }
}
