.tecnology {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  width: 100vw;
  padding: 100px;
  position: relative;
  margin-top: 200px;

  background-image: url(../assets/pexels-bri-schneiter-28802-346529.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 1800px;
  background-attachment: fixed;
  height: 800px;

  & .text-tec {
    & h2 {
      margin-bottom: 20px;
      font-size: 4em;
      color: #F5F5F5;
    }
    & p {
      background-color: rgba(0, 0, 0, 0.5);
      font-size: 2em;
      max-width: 500px;
      color: var(--cinzaClaro);
      padding: 20px;
      border-radius: 5px;
    }
  }

  & .hex-grid {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: -5px;

    & .row {
      display: flex;
      justify-content: center;
      gap: 25px;

      & .hex {
        width: 150px;
        height: 165px;
        clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
        background: radial-gradient(circle, rgba(255, 255, 255, 0.4), #6EA0D7);
        display: flex;
        justify-content: center;
        align-items: center;
        transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;

        & img {
          width: 60%;
          height: auto;
          object-fit: contain;
        }
      }
      & .hex:hover {
        transform: scale(1.1);
        box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
      }
      & .hex.medio img{
        width: 120px;
      }
    }
  }
}