.tecnology {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  width: 100vw;
  padding: 100px;
  position: relative;
  margin-top: 200px;

  background-image: url(../assets/backgrounds/paisagem2.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 1800px;
  background-attachment: fixed;
  height: 800px;

  & .text-tec {
    & h2 {
      margin-bottom: 20px;
      font-size: 4em;
      color: #F5F5F5;
    }
    & p {
      background-color: rgba(0, 0, 0, 0.5);
      font-family: var(--text);
      font-size: 1.5em;
      max-width: 500px;
      color: var(--cinzaClaro);
      padding: 20px;
      border-radius: 5px;
    }
  }

  & .hex-grid {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: -5px;

    & .row {
      display: flex;
      justify-content: center;
      gap: 25px;

      & .hex {
        width: 150px;
        height: 165px;
        clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
        background: radial-gradient(circle, rgba(255, 255, 255, 0.4), #6EA0D7);
        display: flex;
        justify-content: center;
        align-items: center;
        transition: transform 0.5s ease-in-out, box-shadow 0.3s ease-in-out;
        cursor: pointer;

        & img {
          width: 60%;
          height: auto;
          object-fit: contain;
        }
      }
      & .hex:hover {
        transform: rotateY(180deg);
        box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
      }
      & .hex.medio img{
        width: 120px;
      }
    }
  }
}

@media (max-width: 1200px) {
  .tecnology {
    & .hex-grid {
      & .row {
        & .hex {
          width: 100px;
          height: 115px;
        }
        & .hex.medio{
          & img {
            width: 75%;
          }
        }
      }
    }
    & .text-tec {
      & h2 {
        font-size: 2.5em;
        text-align: center;
      }
      & p {
        background-color: rgba(0, 0, 0, 0.5);
        font-family: var(--text);
        font-size: 1.125em;
        max-width: 500px;
        color: var(--cinzaClaro);
        padding: 20px;
        border-radius: 5px;
      }
    }
  }
}

@media (max-width: 550px) {
  .tecnology {
  background-image: url('');
  background: linear-gradient(to bottom, green, rgb(156, 226, 85)60% );

  justify-content: center;
  gap: 40px;

    & .text-tec {
      & p {
        font-size: 0.875rem;
      }
    }
  }
}